.contactItem {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 7px 15px;
  width: 25vw;
  border-radius: 5px 5px;
  border-color: navy;
  border-width: 1px;
  border-style: solid;
}

.contactDeleteBtn {
  height: 25px;
  margin-left: 20px;
  border: 0;
  border-radius: 2px;
  background-color: rgb(255, 207, 51);
  cursor: pointer;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}
